#wdbvf-wrapper h1 {
  font-weight: 600;
}
#wdbvf-wrapper h1 small {
  font-size: 1rem;
}
#wdbvf-settings {
  margin-bottom: 35px;
}
#wdbvf-validation-only {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
#wdbvf-validation-only label {
  font-weight: 500;
}
#wdbvf-validation-only input {
  position: relative;
  top: 2.5px;
}
#wdbvf-wrapper #the-list tr.proceeded a {
  color: #ccc;
}